.App {
	text-align: center;
}

/* .App-logo {
	height: 40vmin;
	pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
} */

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	/* font-size: calc(10px + 2vmin); */
	color: white;
}

/* .App-link {
	color: #61dafb;
} */

/* @keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */
@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap");
h1 {
	font-family: "Alkatra", cursive;
	font-weight: bold;
}
.newLink {
	width: 96%;
	text-align: center;
	justify-content: center;
	display: flex;
}
select {
	justify-content: center;
	width: 15%;
}
input {
	width: 25%;
	/* height: 100%; */
}

button {
	display: block;
	/* text-align: center; */
	/* vertical-align: middle; */
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 3rem;
	font-weight: bold;
	background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
	border-radius: 100vh;
	color: #333;
	border: 1px solid #999;
	text-shadow: 0 1px #fff;
	box-shadow: 0 3px 2px 1px #fcfcfc, 0 4px 6px #cecfd1, 0 -2px 2px #cecfd1,
		0 -4px 2px #eee, inset 0 0 2px 2px #cecfd1;
	transition: 0.5s;
}

button:hover {
	opacity: 0.5;
}
th {
	width: 50px;
	border: 5px #333 solid; /* 枠線をつける */
	background-color: #727272;
	padding: 5px;
	position: sticky;
	top: 0;
	height: 50px;
}
td {
	width: 50px;
	border: 3px #333 solid; /* 枠線をつける */
	text-align: left;
	padding: 5px;
}
td:hover {
	background: rgba(255, 255, 212, 0.6); /*ホバーしたセルのカラー*/
	color: black;
}
table {
	border-collapse: collapse;
	width: 96%;
}
/* @import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@800&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap");
.category {
	text-align: center;
	width: 15%;
	/* font-family: "Shantell Sans", cursive; */
	font-family: "M PLUS Rounded 1c", sans-serif;
}
.link_title {
	width: 25%;
}
.description {
	width: 30%;
}

.link {
	width: 30%;
}
a:visited {
	color: darkgrey;
}
a:hover {
	color: black;
}
